@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
ul{
  list-style: none;
}
#header{
  width: 1158px;
}
.top-area{
  display: flex;
  justify-content: space-between;
}

.top-info{
  display: flex;
  justify-content: center;
}
.top-info li{
  margin-right: 14px;
}