@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
ul{
  list-style: none;
}
#header{
  width: 1158px;
  margin: 0 auto;
}

.top-area{
  display: flex;
  justify-content: space-between;
}
.top-info{
  display: flex;
  justify-content: center;
}
.top-info li{
  margin-right: 14px;
}

.middle-area{
	width:100%;
}

.main-logo{
  width: 600px;
  height: 30px;
  margin:30px auto 30px auto;
  display: flex;
  justify-content: center;
}
.btn-search{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 30px;
}
.bottom-info{
  display: flex;
  justify-content: space-between;
}
/*------------------------- main------------------ */
.main-wrap{
	width:1360px;
	height:100%;
	margin:0 auto;
}
.visual{
	width:100%;
	height: 760px;
	overflow: hidden;
	position: relative;
	margin:10px auto 50px auto;
}
.visual-img{
		position:absolute;
		display: flex;
		top:0;
		left:0;
}
.visual-img li{
	width:1360px;
	height:760px;
}
.box{
	display: flex;
}
.left-box ul{
	display:flex;
}
.left-box li{
	margin-right:10px; 
	margin-bottom:10px;
}
.right-box img{
	width:110%;
	height:613px;
}
/*------------------------ footer----------------- */
footer{
	background-color: #1a1e21;
}
a{
	color:#fff;
	text-decoration: none;
}
.footer-wrap{
	width:100%;
	height:100%;
	margin:0 auto;
	disply:flex;
	color:#fff;

}
.foot-header{
	width:100%;
	border-bottom: 1px solid #fff;
}
.foot-header ul{
	width:1158px;
	margin:0 auto;
	display:flex;

}
.foot-header li{
		margin:20px 0;
		margin-right:30px;
}
.foot-main{
	width:1158px;
	height:300px;
	margin:0 auto;
	display:flex;
}
.foot-main ul{
	margin-right:80px;
}
.foot-main li:first-child {
	margin:30px 0;
}
.foot-main li {
	margin:5px 0;
}
.foot-main span{
	font-size: 40px;
	color:#ff5881;
}