@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
ul{
  list-style: none;
}
#header{
  width: 1158px;
  margin: 0 auto;
}

.top-area{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.top-info{
  display: flex;
  justify-content: center;
}
.top-info li{
  margin-right: 14px;
}

.middle-area{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.main-logo{
  width: 600px;
  height: 100px;
  margin: 0 auto;
}
.bottom-info{
  display: flex;
  justify-content: space-between;
}
/*------------------------ footer----------------- */
footer{
	background-color: #1a1e21;
}
a{
	color:#fff;
	text-decoration: none;
}
.footer-wrap{
	width:100%;
	height:398px;
	margin:0 auto;
	disply:flex;
	color:#fff;

}
.foot-header{
	width:100%;
	border-bottom: 1px solid #fff;
}
.foot-header ul{
	width:1158px;
	margin:0 auto;
	display:flex;

}
.foot-header li{
		margin:20px 0;
		margin-right:30px;
}
.foot-main{
	width:1158px;
	height:100%;
	margin:0 auto;
	display:flex;
}
.foot-main ul{
	margin-right:80px;
}
.foot-main li:first-child {
	margin:30px 0;
}
.foot-main li {
	margin:5px 0;
}
.foot-main span{
	font-size: 40px;
	color:#ff5881;
}