@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#header {
  width: 1158px;
  margin: 0 auto;
}

.top-area {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.top-info {
  display: flex;
  justify-content: center;
}

.top-info li {
  margin-right: 14px;
}

.middle-area {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.main-logo {
  width: 600px;
  height: 100px;
  margin: 0 auto;
}

.bottom-info {
  display: flex;
  justify-content: space-between;
}

/*------------------------ footer----------------- */
footer {
  background-color: #1a1e21;
}

a {
  color: #fff;
  text-decoration: none;
}

.footer-wrap {
  width: 100%;
  height: 398px;
  margin: 0 auto;
  disply: flex;
  color: #fff;

}

.foot-header {
  width: 100%;
  border-bottom: 1px solid #fff;
}

.foot-header ul {
  width: 1158px;
  margin: 0 auto;
  display: flex;

}

.foot-header li {
  margin: 20px 0;
  margin-right: 30px;
}

.foot-main {
  width: 1158px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.foot-main ul {
  margin-right: 80px;
}

.foot-main li:first-child {
  margin: 30px 0;
}

.foot-main li {
  margin: 5px 0;
}

.foot-main span {
  font-size: 40px;
  color: #ff5881;
}

/*-------------------회원가입--------------------*/
.signup-wrap {
  width: 1158px;
  margin: 0 auto;
}

.userInfo-wrap {
  border-bottom: 1px solid black;
  padding: 1px;
}

.join-wrap {
  width: 510px;
  margin: 30px auto;
}

.join {
  border-top: 1px solid #dadada;
  border-left: 1px solid #dadada;
}

.join-form > li {
  height: 49px;
  line-height: 49px;
  padding: 0 23px;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;

}

.join-form > li > input {
  width: 300px;
  height: 29px;
  border: 0;
  line-height: 29px;
  font-size: 14px;
  font-weight: bold;
}

.btn-div {
  text-align: center;
  margin: 10px;
}

.join-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:13px;
	-moz-border-radius-topleft:13px;
	border-top-left-radius:13px;
	-webkit-border-top-right-radius:13px;
	-moz-border-radius-topright:13px;
	border-top-right-radius:13px;
	-webkit-border-bottom-right-radius:13px;
	-moz-border-radius-bottomright:13px;
	border-bottom-right-radius:13px;
	-webkit-border-bottom-left-radius:13px;
	-moz-border-radius-bottomleft:13px;
	border-bottom-left-radius:13px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:51px;
	line-height:51px;
	width:96px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.join-btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.join-btn:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */