<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/static/css/mycss.css">
</head>

<body>
	<header>
		<div id="header">
			
			<div class="middle-area">
				<div class="main-logo">
					<a href="index.do"><img
						src="http://nibbuns.co.kr/design/piasom/img/logo.png"></a>
				</div>
				
			</div>
			<div class="bottom-area">
				<ul class="admin-info">
					<li><a href="top.do">홈</a></li>
                    <li><a href="top.do">상품등록</a></li>
                    <li><a href="top.do">상품조회</a></li>
                    <li><a href="top.do">회원관리</a></li>
				</ul>
			</div>
			
		</div>
	</header>
</body>

</html>
