<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src=@{/js/myjs.js}></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<header th:include="header"></header>
	<main>
		<div class="main-wrap">
			<div class="title">
				<h3>Q&amp;A</h3>
			</div>
			<div class="ask-board">
				<div>
					<a href="#">글쓰기</a>
				</div>
				<form>
					<div>
						<ul>
							<li><input type="radio" name="ch-box">이름</li>
							<li><input type="radio" name="ch-box" checked>제목</li>
							<li><input type="radio" name="ch-box">내용</li>
							<li><input type="text" name="search"></li>
							<li><button><img th:src="@{images/search.png}"></button></li>
						</ul>
					</div>
				</form>
			</div>
			<div class="board-view">
				<ul>
					<li class="no">NO.</li>
					<li class="content">Content</li>
					<li class="name">Name</li>
					<li class="date">Date</li>
					<li class="hits">Hits</li>
				</ul>
				<ul>
					<li class="no">1</li>
					<li class="content"><a href="#">테스트</a></li>
					<li class="name">테스트</li>
					<li class="date">2020/01/31</li>
					<li class="hits">0</li>
				</ul>
			</div>
		</div>
	</main>
	<footer th:include="footer"></footer>
</body>
</html>