<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" type="text/css" href="../css/mycss.css">
</head>

<body>
  <div id="header">
    <div class="top-area">
      <div class="small-logo">
        요기는 로고
      </div>
      <div class="top-div">
        <ul class="top-info">
          <li><a href="signup.do">회원가입</a></li>
          <li>로그인</li>
          <li>마이페이지</li>
          <li>장바구니</li>
          <li>개인결제</li>
          <li>문의하기</li>
        </ul>
      </div>
    </div>
    <div class="middle-area">
      <div class="main-logo">
      <img src="http://nibbuns.co.kr/design/piasom/img/logo.png">
      </div>
      <div class="btn-search">
        <input type="text" placeholder="검색">
        <button type="button">버튼</button>
      </div>
    </div>
    <div class="bottom-area">
      <ul class="bottom-info">
        <li>NEW 5%</li>
        <li>BEST50</li>
        <li>TOP</li>
        <li>BLOUSE&SHIRT</li>
        <li>DRESS</li>
        <li>PANTS</li>
        <li>SKIRT</li>
        <li>OUTER</li>
        <li>BAG&SHOES</li>
        <li>ACC</li>
        <li>INNER&SEASON</li>
        <li>SALE</li>
      </ul>
    </div>
  </div>
</body>

</html>
