<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src=@{/js/myjs.js}></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<header th:include="header"></header>
	<main>
		<div class="main-wrapper">
			<div class="main-title">
				<h1>OUTER&nbsp;BEST</h1>
			</div>
			<div class="line"></div>
			<div class="main-best">
				<div class="item">
					<ul>
						<li><a href="Detail.do"><span class="rank">01<br>BEST
							</span><img th:src="@{images/sample.gif}"></a></li>
						<li><a href="Detail.do">긴팔티</a></li>
						<li>19,200원</li>
					</ul>
				</div>
				<div class="item">
					<ul>
						<li><a href="Detail.do"><span class="rank">02<br>BEST
							</span><img th:src="@{images/sample.gif}"></a></li>
						<li><a href="Detail.do">긴팔티</a></li>
						<li>19,200원</li>
					</ul>
				</div>
				<div class="item">
					<ul>
						<li><a href="Detail.do"><span class="rank">03<br>BEST
							</span><img th:src="@{images/sample.gif}"></a></li>
						<li><a href="Detail.do">긴팔티</a></li>
						<li>19,200원</li>
					</ul>
				</div>
			</div>
			<div class="categori">
				<ul>
					<li class="all"><a onclick="cate('all')">전체</a></li>
					<li class="CARDIGAN"><a onclick="cate('CARDIGAN')">#CARDIGAN</a></li>
					<li class="JUMPER"><a onclick="cate('JUMPER')">#JUMPER</a></li>
					<li class="TRENCH"><a onclick="cate('TRENCH')">#COAT&amp;TRENCH</a></li>
					<li class="COAT"><a onclick="cate('COAT')">#COAT</a></li>
					<li class="JACKET"><a onclick="cate('JACKET')">#JACKET</a></li>
				</ul>
			</div>
			<div class="user-categori">
				<ul>
					<li class="uc1"><a onclick="uc('new')">신상품순</a></li>
					<li class="uc2"><a onclick="uc('popular')">인기상품</a></li>
					<li class="uc3"><a onclick="uc('low')">낮은가격</a></li>
					<li class="uc4"><a onclick="uc('high')">높은가격</a></li>
				</ul>
			</div>
			<div class="sub-items">
				<div class="items">
					<ul>
						<li><a href="#"><img th:src="@{images/sample.gif}"></a></li>
						<li><a href="#">긴팔티</a></li>
						<li>19,200원</li>
					</ul>
				</div>
				<div class="items">
					<ul>
						<li><a href="#"><img th:src="@{images/sample.gif}"></a></li>
						<li><a href="#">긴팔티</a></li>
						<li>19,200원</li>
					</ul>
				</div>
				<div class="items">
					<ul>
						<li><a href="#"><img th:src="@{images/sample.gif}"></a></li>
						<li><a href="#">긴팔티</a></li>
						<li>19,200원</li>
					</ul>
				</div>
				<div class="items">
					<ul>
						<li><a href="#"><img th:src="@{images/sample.gif}"></a></li>
						<li><a href="#">긴팔티</a></li>
						<li>19,200원</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
	<footer th:include="footer"></footer>
</body>
</html>