<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" type="text/css" href="../static/css/mycss.css">
</head>

<body>
  <div class="signup-wrap">
    <div>
      <h1>회원정보 입력</h1>
    </div>
    <div>
      <form method="post">
        <ul>
          <li>
            <input type="text" placeholder="이름">
          </li>
          <li>
            <input type="text" placeholder="아이디">
          </li>
          <li>
            <input type="password" placeholder="비밀번호">
          </li>
          <li>
            <input type="password" placeholder="비밀번호 확인">
          </li>
          <li>
            <input type="email" placeholder="이메일">

          </li>
          <li>
            <select>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>년
            <select>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>월
            <select>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>일
          </li>
          <li>
            <input type="number" placeholder="휴대폰번호">
          </li>
        </ul>
      </form>
      <div>
        <button type="submit">회원가입</button>
      </div>
    </div>
  </div>
</body></html>
